.flipper, .front, .back {
  max-width: 250px;
  min-height: 210px;
  padding: 10px;
}
.flipper:first-child{
  margin-top: 15px;
}
.flipper {
  margin: 80px auto;
  position: relative;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.back {
  transform: rotateX(-180deg);
}

.flipper:hover .front {
  transform: rotateX(180deg);
}

.flipper:hover .back {
  transform: rotateX(0deg);
}

.front, .back {
  border-radius: 20px;
  backface-visibility: hidden;
  background: #CFD8DC;
  border: 2px solid #FFF;
  color: #000;

  position: absolute;
  text-align: left;
  transition: 0.6s all ease;
}
.front img {
  width: 100%;
}
.back {}
