.flipper {
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 30px;
    display: inline-block;
    -webkit-perspective: 800;
}

.front,
.back {
    border-radius: 10px;
    transition: 1s all ease;
    width: 250px;
    height: 250px;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid;
    background: #FFF;
}

.front img {
    width: 100%;
}

.back {
    font-size: 0.5em;
    transform: rotateX(-180deg);
    /*    text-align: left;*/
    font-family: "Amatic SC";
}

.back ul {
    list-style: none;
    padding-left: 0;
    margin: 15px 0;
}

.flipper:hover .front {
    transform: rotateX(180deg);
}

.flipper:hover .back {
    transform: rotateX(0deg);
}