.bars {
    color: #FFF;
    position: fixed;
    right: 0px;
    display: none;
    font-size: 0.5em;
    background: rgba(0, 0, 0, 0.8);
    z-index: 500;
    padding: 10px;
    cursor: pointer;
}

body {
    font-size: 64px;
}

.full-screen {
    height: 100vh;
}

.first {
    background: url("../images/fondo.jpg") 100%;
    position: relative;
}

.first .main-box {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: animar-main-box 2s 1;
}

.first .main-box .title {
    font-size: 1.6em;
    margin: 0;
    font-family: "Amatic SC";
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.first .main-box .subtitle {
    font-size: 0.4em;
    margin: 15px;
    font-family: "Rock Salt";
    font-weight: normal;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: animar-social 2s 1;
}

.social a {
    background: #FFF;
    font-size: 0.5em;
    color: #000;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: top;
    transition: 0.5s all ease;
    border-radius: 0px 0px 15px 15px;
}

.social a:hover {
    padding-top: 20px;
    color: #FFF;
}

.first .social .github:hover {
    background: #607D8B;
}

.first .social .youtube:hover {
    background: #E62117;
}

.first .social .linkedin:hover {
    background: #0077B5;
}

.navegacion {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 80px;
    animation: animar-nav 2s 1;
    background: rgba(0, 0, 0, 0.8);
    z-index: 500;
}

.navegacion a {
    text-decoration: none;
    padding: 10px 20px;
    color: #FFF;
    font-family: "Indie Flower";
    font-size: 0.5em;
}

.active {
    background: rgba(255, 255, 255, 0.5);
}

.second {
    position: relative;
    /*    height: 100vh;*/
}

.second .main-box {
    position: relative;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.second .title {
    text-align: center;
    font-size: 1em;
    /*    font-family: "Rock Salt";*/
        /*font-family: "Shadows Into Light";*/
        /*font-family: "Amatic SC";*/
    font-family: "Indie Flower";
    /*        font-family: "QuickSand";*/
}

.second .content {
    font-size: 0.6em;
    width: 70%;
    margin: auto;
    text-align: justify;
        font-family: "Rock Salt";
        font-family: "Shadows Into Light";
    font-family: "Amatic SC";
        font-family: "Indie Flower";
            font-family: "QuickSand";
}

.third {
    position: relative;
    background: #37474F;
    /*    height: 100vh;*/
}

.third .main-box {
    position: relative;
    padding-top: 25vh;
    padding-bottom: 25vh;
}

.third .title {
    text-align: center;
    color: #FFF;
    font-size: 1em;
    font-family: "Indie Flower";
}

.third .content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.third .others {
    font-family: "Indie Flower";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer {
    font-size: 0.2em;
    padding: 30px 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #369;
}

@keyframes animar-main-box {
    0% {
        transform: scale(0.1) rotate(180deg);
    }
}

@keyframes animar-social {
    0% {
        left: -1000%;
    }
}

@keyframes animar-nav {
    0% {
        top: 1000%;
    }
}
