
.slide {
  height: 100vh;
  /*border: 1px solid #888;*/
}
.first {
  background: url("../images/fondo.jpg") 100%;
  color: #FFF;
  font-family: "Rock Salt";
  position: relative;
}
.social {
  font-size: 24px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
}
.social a {
  color: #FFF;
}
.first .main-box {
  transition: 2s all ease;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.first .main-box .title {
  font-size: 24px;
  margin: 0;
  font-weight: normal;
}
.first .main-box .description {
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
  font-weight: normal;
}
.second{
  background: #CFD8DC;
}
.second .main-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.second .main-box .title {
  font-family: "Rock Salt";
  text-align: center;
  font-size: 24px;
  margin: 0;
}
.second .main-box .description {
  font-family: "QuickSand";
  text-align: justify;
  padding: 10px 30px;
  font-size: 14px;
}
.third{
  /*position: relative;*/
  background:#263238;
  padding: 200px 0;
}
.third .main-box{
  /*position: relative;*/
}
.third .main-box .title {
  font-family: "Rock Salt";
  text-align: center;
  color: #FFF;
  font-size: 24px;
}
.third .main-box .description {
  font-family: "QuickSand";
  /*margin: auto;*/
  font-size: 24px;
}

footer{
  font-size: 12px;
  font-family: "QuickSand";
  background: #CFD8DC;
  padding: 3px;
  text-align: center;
}
