/*A partir de 480 px, para mobiles*/

@media screen and (min-width: 0px) {
  .first .main_box, .second .main_box {
    top: 33%;
  }
}

/*Para tablets*/

@media screen and (min-width: 767px) {
  .first .main_box, .second .main_box {
    top: 33%;
  }
  .third .main_box {
    top: 10%;
  }
}

/*Pantallas de escritorio*/

@media screen and (min-width: 950px) {
  .first .main_box, .second .main_box {
    top: 32%;
  }
  .third .main_box {
    top: 18%;
  }
  .flipper {
    display: inline-block;
    margin: 50px 15px;
  }
}
