@media screen and (max-width:480px) {
    .social {
        display: none;
    }
    .navegacion {
        animation: animar-nav 0.5s 1;
    }
    .navegacion a {
        display: block;
    }
    .flipper {
        margin: 25px;
        width: 90%;
    }
}
@media screen and (max-width:635px){
  .social {
      display: none;
  }
  .first .main-box .title {
      font-size: 1.2em;
  }

  .first .main-box .subtitle {
      font-size: 0.2em;
  }
}
@media screen and (max-width:1300px) {
    .bars {
        display: inline;
    }
    .navegacion {
        display: none;
        text-align: center;
        width: 100vw;
        animation: animar-nav 0.5s 1;
    }
    .navegacion a {
        padding-bottom: 0;
    }
}

/*@media screen and (min-width: 950px) {*/
@media screen and (min-width: 1316px) {
    .navegacion {
        display: block !important;
        display: flex !important;
    }
}
